<footer>
    <div>
        <ul><b>LEARNINGHUT</b>
            <li><a href="/Question">Questions</a></li>
            <li><a href="#">Tags</a></li>
            <li><a href="#">Technical News</a></li>
            <li><a href="#">Directory</a></li>
        </ul>
    </div>
    <div>
        <ul><b>COMPANY</b>
            <li><a href="/about">About</a></li>
            <li><a href="#">Help</a></li>
            <li><a href="#">News</a> </li>
            <li><a href="#">Contact Us</a></li>
        </ul>
    </div>
    <div style="margin-left: 100px">
        <nav>
            <a href="https://www.facebook.com/">Facebook</a>&nbsp; &nbsp;&nbsp;
            <a href="https://twitter.com/?lang=en">Twitter</a> &nbsp;&nbsp;&nbsp;
            <a href="https://www.linkedin.com/">linkedin</a> &nbsp;&nbsp;&nbsp;
            <a href="https://www.pinterest.com/">Pinterest</a>&nbsp;&nbsp;&nbsp;
        </nav>
        <br><br><br><br><br>
        <p> All Rights Reserved @ 2020  </p>
    </div>
</footer>