    <header>
        <div><a href="/"><img src="images/2.jpeg" width="60px" height="60px"></a></div>
        <a href="#" style="margin-left: 1020px">Sign Up</a>
        <a href="#">Log in</a>
    </header>