<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://cdn.ckeditor.com/4.15.1/full-all/ckeditor.js"></script>
    <title>learning Hut | <%= title %></title>
    <style>
        .form1 {
            width: 100%;
            height: 100%;
            background-color: rgba(10, 10, 10, 0.7);
            position: absolute;
            top: 0;
            justify-content: center;
            align-items: center;
            display: none;
        }
        
        .form2 {
            width: 100%;
            height: 100%;
            background-color: rgba(10, 10, 10, 0.7);
            position: absolute;
            top: 0;
            justify-content: center;
            align-items: center;
            display: none;
        }
        
        .form1-content {
            width: 350px;
            height: 300px;
            background-color: white;
            opacity: 1;
            border-radius: 4px;
            text-align: center;
            position: relative;
        }
        
        .form2-content {
            width: 500px;
            height: 450px;
            background-color: white;
            opacity: 1;
            border-radius: 4px;
            text-align: center;
            position: relative;
        }
        
        #login-img {
            width: 100px;
            height: 100px;
            padding: 20px;
        }
        
        .login-input {
            width: 80%;
            height: 26px;
            margin: 5px;
            font-size: 16px;
            border-radius: 4px;
            text-decoration: none;
            border: 1px solid black;
            outline: none;
        }
        
        .login-submit-button {
            display: block;
            height: 24px;
            width: 80%;
            margin: 5px;
            padding: 5px;
            margin-left: 29px;
            background-color: rgb(72, 152, 7);
            border: 1px solid rgb(72, 152, 7);
            border-radius: 4px;
            text-decoration: none;
            color: white;
        }
        
        .login-submit-button:hover {
            background-color: white;
            color: rgb(72, 152, 7);
            border: 2px solid rgb(72, 152, 7);
        }
        
        .close-btn1 {
            position: absolute;
            top: 0;
            right: 14px;
            font-size: 40px;
            transform: rotate(45deg);
            cursor: pointer;
        }
        
        .close-btn2 {
            position: absolute;
            top: 0;
            right: 14px;
            font-size: 40px;
            transform: rotate(45deg);
            cursor: pointer;
        }
        
        .signup-submit-button {
            display: block;
            height: 24px;
            width: 80%;
            margin: 5px;
            padding: 5px;
            margin-left: 44px;
            background-color: rgb(72, 152, 7);
            border: 1px solid rgb(72, 152, 7);
            border-radius: 4px;
            text-decoration: none;
            color: white;
        }
        
        .signup-submit-button:hover {
            background-color: white;
            color: rgb(72, 152, 7);
            border: 2px solid rgb(72, 152, 7);
        }
    </style>
</head>
