<header class="header">
    <img src="images/2.jpeg" width="100px" height="100px">
    <a href="/about">About</a>
    <a href="#">Contact us</a>
    <input type="text" autofocus placeholder="search Queries......">
    <button class="btn"><i class="fa fa-search " ></i></button>
    <div>
        <a href="#" id="login-button">Log In</a>
        <a href="#" id="signup-button" style="background-color: green;color: white;margin-left: 10px ">Sign Up</a>
    </div>

</header>
