<html>
        <%-include('partials/head.ejs') %>
    <body>
        <%-include('partials/header2.ejs') %>
        <link href="404.css" rel="stylesheet">
        <div class="not-found-content">
            <h1>Oops</h1>
            <h3>File not found!!</h3>
            <p>the page you are looking for might have been removed <br> 
            had its name changed or is temporarily unavailable</p>
            <a href="/">Go to Homepage</a>
        </div>
        <%-include('partials/footer.ejs') %>
    </body>
</html>