<!doctype html>
<html lang="en">
    <%-include('./partials/head.ejs') %>
<body>
    <!-- Header section-->
	<%-include('./partials/header.ejs') %>
	<link href="about.css" rel="stylesheet">
	<!-- Main content  -->
<div class="A_container">
    <section>
        <h2> LearningHut</h2>
            <p>LearningHut is an open community for anyone that<br>
                codes. We help you get answers to your toughest coding questions, <br>
                and share knowledge with your coworkers in private.</p>
            <img src="images/descr.jpeg" width="450px" height="400px">
    </section>
    <section class="div" style="margin-left: 40px">
        <div>
            <h2> Helping Developers to write  their future by their own!</h2>
            <p>Our asynchrounous knowledge management and collaboration offering ,
                <br><b>LeaningHut</b> is transforing how people do their job of their inetrest.</p>
        </div>
        <img src="images/chat.jpeg" width="450px" height="400px">
    </section>
</div>

<div  id="Main_div">
        <h1> Our Products </h1>
    <div class="sectn">
        <h3> Our Public Platform</h3>
        <p>Where Anybody go to gain and share knowlegde.</p>
        <center><a href="#">   Go     </a></center>
    </div>
    <div class="sectn">
        <h3> For Teams</h3>
        <p>Where Developers and Technologist <br>
            share private knowlegde with coworkers.</p>
        <center><a href="#">   Learn More</a></center>
    </div>
    <div class="sectn">
        <h3> News & Articles  </h3>
        <p>Where Anybody can find latest <br>
            tech Articles and News.</p>
        <center><a href="#">   Visit  </a></center>
    </div>
    <div class="sectn">
        <h3> Blogs</h3>
        <p>where companies reach the audiance
            <br>of Developers and Technologists.</p>
        <center><a href="#">    Learn More    </a></center>
    </div>
</div>

<div id="core_values" >
    <h1>Our Core Values </h1>
    <div class="core_modal">
        <div>
            <img src="images/customer-mindset.PNG">
            <h2>customer-first mindset</h2>
            <p> Authentically serve our customers by empowering, listening and
                collaborating with our fellow Learner.</p>
        </div>
        <div>
            <img src="images/share%20and%20grow.PNG">
            <h2>Learn ,Share & Grow</h2>
            <p> Adopt a Growth Mindset. Be curious and eager to learn.
                Aim for ethical, sustainable, long-term growth
                both personally and in the company.</p>
        </div>
        <div>
            <img src="images/be%20transparent.PNG">
            <h2>Be transparent</h2>
            <p> Communicate openly and honestly, both inside and outside the company.
                Encourage transparency from others by being empathetic,
                reliable, and acting with integrity.</p>
        </div>
    </div>
    <div class="core_modal">
        <div>
            <img src="images/deliver%20outstanding.PNG">
            <h2>Deliver outstanding results</h2>
            <p> Support them when they need it, and practice blameless accountability.</p>
        </div>
        <div>
            <img src="images/keep%20community.PNG">
            <h2>Keep community at our center</h2>
            <p>Community is at the heart of everything we do. Nurture
                healthy communities where everyone is encouraged to learn and give back.</p>
        </div>
        <div>
            <img src="images/be%20flexible.PNG">
            <h2>Be flexible and inclusive</h2>
            <p>We do our best work when a diverse group of people collaborate in an environment
                of respect and trust. Create space for different voices to be heard, and allow flexibility in how
                people work.</p>
        </div>
    </div>
</div>
	<%-include('./partials/footer.ejs') %>
</body>
</html>
